table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
<<<<<<< HEAD
}

.active-row {
  font-weight: bold;
  background-color: lightgray;
}
=======
}
>>>>>>> a39774c9ec77d8936de02cbbd1b2b916f5d7a38a
