<h3>Moje Przejazdy</h3>
<h4>User registration forms</h4>
<form [formGroup]="userForm" (ngSubmit)="onSubmit()">
  <div class="container-fluid">
    <div class="row">
      <mat-form-field class="example-form-field" appearance="fill">
        <mat-label>First name</mat-label>
        <input matInput type="text" [formControl]="getFormControl('name')" />
        <mat-error *ngIf="invalidFirstName">{{
          getErrorMessage("name")
        }}</mat-error>
        <button
          *ngIf="hasValue('name')"
          matSuffix
          mat-icon-button
          aria-label="Clear"
          (click)="clearFormControlValue('name')"
        >
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>

      <mat-form-field class="example-form-field" appearance="fill">
        <mat-label>Second name</mat-label>
        <input matInput type="text" [formControl]="getFormControl('surname')" />
        <mat-error *ngIf="invalidSecondName">{{
          getErrorMessage("name")
        }}</mat-error>
        <button
          *ngIf="hasValue('surname')"
          matSuffix
          mat-icon-button
          aria-label="Clear"
          (click)="clearFormControlValue('surname')"
        >
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>

      <mat-form-field class="example-form-field" appearance="fill">
        <mat-label>Address</mat-label>
        <input matInput type="text" [formControl]="getFormControl('address')" />
        <mat-error *ngIf="invalidAddress">{{
          getErrorMessage("name")
        }}</mat-error>
        <button
          *ngIf="hasValue('address')"
          matSuffix
          mat-icon-button
          aria-label="Clear"
          (click)="clearFormControlValue('address')"
        >
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>

      <mat-form-field class="example-form-field" appearance="fill">
        <mat-label>Email address</mat-label>
        <input matInput type="text" [formControl]="getFormControl('email')" />
        <mat-error *ngIf="invalidEmailAddress">{{
          getErrorMessage("name")
        }}</mat-error>
        <button
          *ngIf="hasValue('email')"
          matSuffix
          mat-icon-button
          aria-label="Clear"
          (click)="clearFormControlValue('email')"
        >
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>

      <mat-form-field class="example-form-field" appearance="fill">
        <mat-label>Phone no.</mat-label>
        <input matInput type="text" [formControl]="getFormControl('phone')" />
        <mat-error *ngIf="invalidPhoneNo">{{
          getErrorMessage("name")
        }}</mat-error>
        <button
          *ngIf="hasValue('phone')"
          matSuffix
          mat-icon-button
          aria-label="Clear"
          (click)="clearFormControlValue('phone')"
        >
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>

      <mat-form-field class="example-form-field" appearance="fill">
        <mat-label>Password</mat-label>
        <input
          matInput
          type="password"
          [formControl]="getFormControl('password')"
        />
        <mat-error *ngIf="invalidPassword">{{
          getErrorMessage("name")
        }}</mat-error>
        <button
          *ngIf="hasValue('password')"
          matSuffix
          mat-icon-button
          aria-label="Clear"
          (click)="clearFormControlValue('password')"
        >
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>

      <mat-form-field class="example-form-field" appearance="fill">
        <mat-label>Login</mat-label>
        <input matInput type="login" [formControl]="getFormControl('login')" />
        <mat-error *ngIf="invalidPassword">{{
          getErrorMessage("name")
        }}</mat-error>
        <button
          *ngIf="hasValue('login')"
          matSuffix
          mat-icon-button
          aria-label="Clear"
          (click)="clearFormControlValue('login')"
        >
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>

      <!-- <mat-form-field appearance="fill">
        <mat-label>Choose an option</mat-label>
        <select matNativeControl>
          <option value="" selected></option>
          <option value="passenger">Passenger</option>
          <option value="driver">Driver</option>
        </select>
      </mat-form-field> -->
      <div class="form-group">
        <br />
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>
    </div>
  </div>
</form>
