<p>login works!</p>
<form [formGroup]="loginForm"
      (ngSubmit)="onSubmit()">
  <div class="login-wrapper"
       fxLayout="row"
       fxLayoutAlign="center center">
    <mat-card class="box">
      <mat-card-header>
        <mat-card-title>Log in</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <mat-form-field class="example-full-width">
          <input matInput
                 type="text"
                 id="login"
                 name="login"
                 [formControl]="getFormControl('login')"
                 placeholder="username" />
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <input matInput
                 placeholder="Password"
                 type="password"
                 id="password"
                 name="password"
                 [formControl]="getFormControl('password')"
                 placeholder="password" />
        </mat-form-field>
      </mat-card-content>
      <button mat-stroked-button
              color="accent"
              class="btn-block">
        Log in
      </button>
    </mat-card>
  </div>
</form>